<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="MyConString" connectionString="Data Source=.;Initial Catalog=TourDatabase;Integrated Security=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
</configuration>