@font-face {
    font-family: "BYekan";
    src: url("../Files/fonts/BYekan.eot?#") format("eot"), url("../Files/fonts/BYekan.woff") format("woff"), url("../Files/fonts/BYekan.ttf") format("truetype");
}
@font-face {
    font-family: "B Yekan";
    src: url("../Files/fonts/BYekan.eot?#") format("eot"), url("../Files/fonts/BYekan.woff") format("woff"), url("../Files/fonts/BYekan.ttf") format("truetype");
}
.HotelInfo
{
    padding-right: 20px;
    margin-left: 10px;
    color: green;
    background-image: url('../images/tick_circle.png');
    background-repeat: no-repeat;
    background-position: right;
}
.auto-style1
{
    width: 100%;
    border-left-style: solid;
    border-left-width: 1px;
    border-right: 1px solid #C0C0C0;
    border-top-style: solid;
    border-top-width: 1px;
    border-bottom: 1px solid #C0C0C0;
}
.LabelHeader
{
    font-family: "BYekan";
}
.GridHeader
{
    font-family: "BYekan";
}
.FilterLink
{
    pointer-events: none;
    cursor: default;
    text-decoration:line-through;
    color:black;
}
.LabelItems
{
    font-family: "BYekan";
    text-align: right;
    padding-left: 5px;
    padding-right: 5px;
}
.LabelValues
{
    font-family: "BYekan";
}
.auto-style2
{
    height: 35px;
    width: 100%;
}
.auto-style3
{
    width: 100%;
    font-family: "BYekan";
    text-align: right;
    padding: 8px;
}
.RightInfoBox
{
    width: 200px;
    font-family: 'BYekan';
    text-align: right;
    vertical-align: top;
    padding: 5px;
    height: 35px;
    border: 1px solid #C0C0C0;
}
.LeftInfoBox
{
    background-color: white;
    font-family: 'BYekan';
    text-align: right;
    vertical-align: top;
    padding: 5px;
    border: 1px solid #C0C0C0;
}
.auto-style4
{
    width: 100%;
    font-family: "BYekan";
    text-align: right;
    padding: 8px;
    height: 38px;
}
.auto-style5
{
    width: 100%;
    font-family: "BYekan";
    text-align: right;
    height: 38px;
}
.tinyImage
{
    height: 45px;
    width: 45px;
    padding-top: 5px;
    padding-left: 5px;
    cursor: pointer;
}
.ImageList
{
    width: 400px;
}
.ImageViewDiv
{
    width: 400px;
    height: 250px;
    position: relative;
}
                .ImageViewDiv > img
                {
                    position: absolute;
                    width: 99%;
                    height: 99%;
                    padding: 2px;
                }
.auto-style6
{
    width: 80px;
    height: 25px;
}
.auto-style7
{
    height: 25px;
}
.FirstCol
	{
        -moz-transition:all 200ms linear 0s;
		-webkit-transition:all 200ms linear 0s;
		-o-transition:all 200ms linear 0s;
		-ms-transition:all 200ms linear 0s;
		padding:5px;
		padding-right:20px;
		background-image:url('../images/home.png');
		background-repeat:no-repeat;
		background-position:right;
		font-size:11.5px;
		width:80px;
		border-bottom:solid 1px black;
	}
    .FirstCol:hover
	{
        -moz-transition:all 200ms linear 0s;
		-webkit-transition:all 200ms linear 0s;
		-o-transition:all 200ms linear 0s;
		-ms-transition:all 200ms linear 0s;
		background-color:#C0C0C0;
        cursor:pointer;
	}
	.FirstColSelected
	{
		padding:5px;
		padding-right:20px;
		background-image:url('../images/home.png');
		background-repeat:no-repeat;
		background-position:right;
		font-size:11.5px;
		width:80px;
		border-bottom:solid 1px black;
		background-color:#C0C0C0;
	}
	.SecondCol
	{
		font-size:11.5px;
		width:140px;
		padding:5px;
		background-color:#C0C0C0;
	}
	.ThrdCol
	{
		font-size:11.5px;
		width:140px;
		padding:5px;
		background-color:#C0C0C0;
	}
	.FourCol
	{
		font-size:11.5px;
		width:30px;
		padding:5px;
		background-color:#C0C0C0;
        text-align:center;
	}
	.BGDiv
	{
		direction:rtl;
		height:8px;
		width:190px;
		border:solid 1px #0094ff;
		border-radius: 5px;
		text-align:right;
		position:relative;
		margin-top:0;
		background-color:white;
	}
	.InsideDiv
	{	
		position: absolute;
		width:0%;
		background-color:#0094ff;
		text-align:right;
		height:100%;
	}
.LastProG
{
    width: 96px;
    background-image: url('../images/circle.ico');
    position: relative;
    height: 16px;
    z-index: 2;
    position: relative;
    background-origin: content-box;
}
.safarKind
	{
		padding-right:17px;
		background-image:url('../images/user-icon.png');
		background-repeat:no-repeat;
		background-position:right;
		display: inline;
		font-size:16.5px;
	}
	.TarikhSafar
	{
		padding-right:17px;
		background-image:url('../images/clock.png');
		background-repeat:no-repeat;
		background-position:right;
		display: inline;
		font-size:16.5px;
	}
	.TinyTXT
	{
		font-family:'BYekan';
		font-size:13.5px;
	}
	.FooterTXT
	{
		font-size:13.5px;
		font-family:'BYekan';
		height:30px;
	}
	.BigText
	{
		display:none;
		font-family:'BYekan';
		font-size:13.5px;
	}
	.MoreInfo
	{	
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
		-moz-transition:all 200ms linear 0s;
		-webkit-transition:all 200ms linear 0s;
		-o-transition:all 200ms linear 0s;
		-ms-transition:all 200ms linear 0s;
		margin-left:5px;
		margin-bottom:5px;
		float:left;
		display: inline;
		color:white;
		border-top-left-radius:7px;
		border-top-right-radius:7px;
		border-bottom-left-radius:7px;
		border-bottom-right-radius:7px;
		text-align:center;
		padding:7px;
		height:20px;
		width:30px;
		background: -ms-linear-gradient(top, #5fc0ce, #36bbce); /* IE9 */
		background: -moz-linear-gradient(top, #5fc0ce, #36bbce); /* Firefox */
		background: -o-linear-gradient(top, #5fc0ce, #36bbce); /* Opera 11  */
		background: -webkit-linear-gradient(top, #5fc0ce, #36bbce); /* Chrome 11  */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #5fc0ce), color-stop(1, #36bbce)); /* Chrome 10, Safari */	
		cursor:pointer;
	}
	.MoreInfo:hover
	{
		-moz-transition:all 200ms linear 0s;
		-webkit-transition:all 200ms linear 0s;
		-o-transition:all 200ms linear 0s;
		-ms-transition:all 200ms linear 0s;
		background: -ms-linear-gradient(top, #03899c, #015965); /* IE9 */
		background: -moz-linear-gradient(top, #03899c, #015965); /* Firefox */
		background: -o-linear-gradient(top, #03899c, #015965); /* Opera 11  */
		background: -webkit-linear-gradient(top, #03899c, #015965); /* Chrome 11  */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #03899c), color-stop(1, #015965)); /* Chrome 10 */
	}
	.VoteBox
	{
		font-family:'BYekan';
		font-size:12px;
		position: relative;
		top: 10px;
		height: 25px;
		width: 40px;
		color:white;
		right: 630px;
		display: inline;
        padding-right: 7px;
		padding-left: 7px;
		padding-bottom: 2px;
        margin:0px;
	}
.VoteMSG
{
    font-family: 'BYekan';
    font-size: 12px;
    position: relative;
    top: 20px;
    height: 55px;
    color: black;
    right: 630px;
}
.Taed
{
	font-family:"BYekan";
	font-size:12px;
	border:solid 1px green;
	color:green;
	margin-top:25px;
	background-color:#ccf8ba;
	width:160px;
	float:right;
	padding:5px;
	border-top-left-radius:2px;
	border-top-right-radius:2px;
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
}
.TaedAg
{
	font-family:"BYekan";
	font-size:12px;
	border:solid 1px green;
	color:green;
	margin-top:25px;
	background-color:#ccf8ba;
	width:300px;
	float:right;
	padding:5px;
	border-top-left-radius:2px;
	border-top-right-radius:2px;
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
}
.HotelName
{
	padding-top:10px;
	font-family:"BYekan";
	font-size:18px;
}
.HotelText
{
	padding-top:10px;
	font-family:"BYekan";
	font-size:14px;
}
.AboutHotel
{
	font-family:"BYekan";
	text-align:right;
	direction:rtl;
	font-size:14px;
	padding-right:10px;
	padding-left:10px;
}
	.warning
	{
		background-color:#f68f8f;
		border-top-left-radius:7px;
		border-top-right-radius:7px;
		border-bottom-left-radius:7px;
		border-bottom-right-radius:7px;
		color:#a41f1f;
		border:solid 1px red;
		padding:8px;
		font-family:'BYekan';
		font-size:13.5px;
	}
	.TextBoxInput
	{
		-moz-transition:all 200ms linear 0s;
		-webkit-transition:all 200ms linear 0s;
		-o-transition:all 200ms linear 0s;
		-ms-transition:all 200ms linear 0s;
		width:200px;
		font-family:'BYekan';
	}
	.TextBoxInput:focus  
	{
		-moz-transition:all 200ms linear 0s;
		-webkit-transition:all 200ms linear 0s;
		-o-transition:all 200ms linear 0s;
		-ms-transition:all 200ms linear 0s;
		box-shadow: 0px 0px 10px blue;
	}
	.TextBoxInput:focus:hover
	{
		-moz-transition:all 200ms linear 0s;
		-webkit-transition:all 200ms linear 0s;
		-o-transition:all 200ms linear 0s;
		-ms-transition:all 200ms linear 0s;
		box-shadow: 0px 0px 10px blue;
	}
	.TextBoxInput:hover  
	{
		-moz-transition:all 200ms linear 0s;
		-webkit-transition:all 200ms linear 0s;
		-o-transition:all 200ms linear 0s;
		-ms-transition:all 200ms linear 0s;
		box-shadow: 0px 0px 5px gray;
	}
.Pishnehad
{
    font-family: "BYekan";
    font-size: 12px;
    border: solid 1px green;
    color: green;
    background-color: #ccf8ba;
    float: right;
    padding: 5px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.SabtPost
	{	
		-moz-transition:all 200ms linear 0s;
		-webkit-transition:all 200ms linear 0s;
		-o-transition:all 200ms linear 0s;
		-ms-transition:all 200ms linear 0s;
		margin-left:5px;
		margin-bottom:5px;
		font-family:'BYekan';
		color:white;
		border-top-left-radius:7px;
		border-top-right-radius:7px;
		border-bottom-left-radius:7px;
		border-bottom-right-radius:7px;
		text-align:center;
		padding:7px;
		height:40px;
		width:70px;
        background-color:#5fc0ce;
		background: -ms-linear-gradient(top, #5fc0ce, #36bbce); /* IE9 */
		background: -moz-linear-gradient(top, #5fc0ce, #36bbce); /* Firefox */
		background: -o-linear-gradient(top, #5fc0ce, #36bbce); /* Opera 11  */
		background: -webkit-linear-gradient(top, #5fc0ce, #36bbce); /* Chrome 11  */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #5fc0ce), color-stop(1, #36bbce)); /* Chrome 10, Safari */	
		cursor:pointer;
	}
	.SabtPost:hover
	{
		-moz-transition:all 200ms linear 0s;
		-webkit-transition:all 200ms linear 0s;
		-o-transition:all 200ms linear 0s;
		-ms-transition:all 200ms linear 0s;
		background: -ms-linear-gradient(top, #03899c, #015965); /* IE9 */
		background: -moz-linear-gradient(top, #03899c, #015965); /* Firefox */
		background: -o-linear-gradient(top, #03899c, #015965); /* Opera 11  */
		background: -webkit-linear-gradient(top, #03899c, #015965); /* Chrome 11  */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #03899c), color-stop(1, #015965)); /* Chrome 10 */
	}
.FirstPost
{
        font-family:'BYekan';
        color:white;
        border-top-left-radius:7px;
        border-top-right-radius:7px;
        border-bottom-left-radius:7px;
        border-bottom-right-radius:7px;
        text-align:center;
        padding:3px;
        height:23px;
        width:120px;
        float:left;
        background-color:#ff8016;
        background: -ms-linear-gradient(top, #ff8016, #cf650d); /* IE9 */
        background: -moz-linear-gradient(top, #ff8016, #cf650d); /* Firefox */
        background: -o-linear-gradient(top, #ff8016, #cf650d); /* Opera 11  */
        background: -webkit-linear-gradient(top, #ff8016, #cf650d); /* Chrome 11  */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ff8016), color-stop(1, #cf650d)); /* Chrome 10 */	
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor:pointer;
}
    .FirstPost:active
    {
        
        background: -ms-linear-gradient(top, #ac5c1b,#ffad5e, #8e4811); /* IE9 */
	    background: -moz-linear-gradient(top, #ac5c1b,#ffad5e, #8e4811); /* Firefox */
	    background: -o-linear-gradient(top, #ac5c1b,#ffad5e, #8e4811); /* Opera 11  */
	    background: -webkit-linear-gradient(top, #ac5c1b,#ffad5e, #8e4811); /* Chrome 11  */
	    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ac5c1b), color-stop(1, #8e4811)); /* Chrome 10 */
    }
.HideTables
{
    width: 100%;
    border-left-style: solid;
    border-left-width: 1px;
    border-right: 1px solid #C0C0C0;
    border-top-style: solid;
    border-top-width: 1px;
    border-bottom: 1px solid #C0C0C0;
    text-align: center;
    border: 1px solid #808080;
}
.HideTableParent
{
    display:none;
}