@font-face {
    font-family: "BYekan";
    src: url("../Files/fonts/BYekan.eot?#") format("eot"), url("../Files/fonts/BYekan.woff") format("woff"), url("../Files/fonts/BYekan.ttf") format("truetype");
}
@font-face {
    font-family: "B Yekan";
    src: url("../Files/fonts/BYekan.eot?#") format("eot"), url("../Files/fonts/BYekan.woff") format("woff"), url("../Files/fonts/BYekan.ttf") format("truetype");
}
 
        .clear-fix{
            clear: both;
        }
 
        a{
            text-decoration: none;
        }
 
        #nav{
			height:49px;
			border:1px solid #262626;
			-moz-box-shadow:0px 4px 10px #888888;
			-webkit-box-shadow:0px 4px 10px #888888;
			box-shadow:0px 4px 10px #888888;
            background-color:#262626;
			background: -ms-linear-gradient(top, #393939, #262626); /* IE9 */
			background: -moz-linear-gradient(top, #393939, #262626); /* Firefox */
			background: -o-linear-gradient(top, #393939, #262626); /* Opera 11  */
			background: -webkit-linear-gradient(top, #393939, #262626); /* Chrome 11  */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(1, #393939), color-stop(1, #262626)); /* Chrome 10 */
			box-shadow:0px 4px 10px #888888;
        }
 
        #nav ul{
            list-style: none;
			
        }
 
        #nav li{
            position: relative;
			z-index:1000;
        }
 
        #nav > ul > li{
            float: right;        
			border-left:solid 1px #1e1e1e;	
        }
 
        #nav > ul > li > a{
			font-family: "BYekan";
			color:#d4d4d4;
			display:block;
			text-shadow:0 1px 0 rgba(0,0,0,0.5);
			text-decoration:none;
			font-size:14px;
			font-weight: normal;
            display: inline-block;
            padding: 0 10px;
            line-height: 49px;
			
        }
		
		#nav > ul > li:first-child
		{
			
		}
        #nav > ul > li:hover > a{
            background-color: #424242;
			background: -ms-linear-gradient(top, #424242, #727272); /* IE9 */
			background: -moz-linear-gradient(top, #424242, #727272); /* Firefox */
			background: -o-linear-gradient(top, #424242, #727272); /* Opera 11  */
			background: -webkit-linear-gradient(top, #424242, #727272); /* Chrome 11  */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #424242), color-stop(1, #727272)); /* Chrome 10, Safari */
            color: white;
        }
         
        /* styles for sub menu */
        #nav .sub-menu{
			font-family: "BYekan";
			font-weight:normal;
			font-size:11.5px;
            display: none;
            position: absolute;    
			right:0px;
        }
 
        #nav .sub-menu > li > a{
            display: block;
            min-width: 160px;
            background-color: #222;
            color: #d4d4d4;
            padding: 5px 10px;
			text-align:right;
			border-bottom:solid 1px black;
			direction:rtl;
			
        }
 
        #nav .sub-menu > li:hover > a{
			-moz-transition:all 200ms linear 0s;
			-webkit-transition:all 200ms linear 0s;
			-o-transition:all 200ms linear 0s;
			-ms-transition:all 200ms linear 0s;
            background-color: black;
			color:white;
        }
 
        #nav li:hover > .sub-menu{
            display: block;
        }
         
        /* styles for sub-menu under sub-menu */
        #nav .sub-menu > li > .sub-menu{
            right: 180px;
            top: 0;
        }
		#nav li:hover .levels li:hover 
		{
			-moz-transition:all 200ms linear 0s;
			-webkit-transition:all 200ms linear 0s;
			-o-transition:all 200ms linear 0s;
			-ms-transition:all 200ms linear 0s;
			background:#fff;
		}

		#nav li:hover li a:hover 
		{
			-moz-transition:all 200ms linear 0s;
			-webkit-transition:all 200ms linear 0s;
			-o-transition:all 200ms linear 0s;
			-ms-transition:all 200ms linear 0s;
		}
.search-top {
	padding: 5px 5px 0 5px;
    padding-left:15px;
    padding-right:15px;
	position:relative;
	float:left;
} 

.inline-search {
	background:#f1f1f1;
	font-size:12px;
	font-family: "BYekan";
	line-height:18px;
	border:none;
	width:160px;
	margin-top:5px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	-moz-box-shadow:inset 0 1px 2px 1px rgba(0,0,0,0.2);
	-webkit-box-shadow:inset 0 1px 2px 1px rgba(0,0,0,0.2);
	box-shadow:inset 0 1px 2px 1px rgba(0,0,0,0.2);
	line-height:1.5em;
	padding:6px 10px;
	color:#333;
}


.inline-search input[type="submit"]:hover {
	cursor:pointer;
}
.myArrow:after {
	font-family: tahoma;
    content:">";
	overflow:hidden;
	position:absolute;
	left:7px;
	top:5px;
}